<div class="container-fluid">
  
  <!--- nagigation row -->
  <div class="row bg-dark" >
    <div class="col-12 text-light" style="height: 50px; display: flex; align-items: center"> Product </div>
  </div>


  <div class="row mt-2">

    <!-- FORM -->
    <div class="col-6" >
      <div class="h5"> ADD Product </div>

      <form [formGroup]="myForm" (ngSubmit)="addProduct()">
        <div class="form-group">
          <input type="text" class="form-control" formControlName="productName" placeholder="Enter Product name" [ngClass]="{ 'is-invalid': submitted && f.productName.errors }">
          <div *ngIf="submitted && f.productName.errors" class="invalid-feedback requireMsg">
            <div *ngIf="f.productName.errors.required">Product name is required.</div>
          </div>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="productDesc" placeholder="Enter Product Description">
        </div>
        <div class="form-group">
          <input type="number" class="form-control" formControlName="categoryId" placeholder="Enter Category Id" [ngClass]="{ 'is-invalid': submitted && f.categoryId.errors }">
          <div *ngIf="submitted && f.categoryId.errors" class="invalid-feedback requireMsg">
            <div *ngIf="f.categoryId.errors.required">Category Id is required.</div>
          </div>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="categoryName" placeholder="Enter Category name" [ngClass]="{ 'is-invalid': submitted && f.categoryName.errors }">
          <div *ngIf="submitted && f.categoryName.errors" class="invalid-feedback requireMsg">
            <div *ngIf="f.categoryName.errors.required">Category name is required.</div>
          </div>
        </div>
        
        <div class="form-group text-center btn-wrp">
          <button type="button" (click)="addProduct()" class="btn btn-primary">Add Product</button>
        </div>
      </form>
    </div>


    <!-- LIST -->
    <div class="col-6">
        <table class="table">
            <thead >
              <tr>
                <th scope="col">Product Id</th>
                <th scope="col">Prduct Name</th>
                <th scope="col">Category Id</th>
                <th scope="col">Category Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of list; let index=index;"> 
                <th scope="row">{{index + 1}}</th>
                <td>{{item.productName}}</td>
                <td>{{item.categoryId}}</td>
                <td>{{item.categoryName}}</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>

</div>